.mainCart {
    background-color: #fff;
    padding-top: 1em;
}

.search {
    background-color: "#fff";
    border-radius: 20px;
    color: "#bbbbbb";
    width: 100%;
    height: 40px;

}

.textRight {
    text-align:right;
}
.divider {
    color:#CED0D3
}
.containerProduct {
    display: flex;
}
.boxImage {
    width: 120px;
    height: 120px;
    background-color: #E6E8E9;
    margin-right: 1em;
}

.comment {
    color: #6B737C;
    font-size: small;
}
.fontBold18 {
    margin-top: auto;
    font-size: 18px;
    font-weight: 600;
}
.fontBold24 {
    margin-top: auto;
    font-size: 22px;
    font-weight: 600;
}
